
.pageContainer[b-00m35mphvn] {
    height: auto;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 0 15px; 
}

.pageContent[b-00m35mphvn] {
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px 5px 20px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.linkContainer[b-00m35mphvn] {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.pageLink[b-00m35mphvn] {
    flex-flow: row nowrap;
}

.textContainer[b-00m35mphvn] {
    width: 100%;
    max-height: fit-content;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    justify-content: flex-start;
    -o-justify-content: start;
    align-items: center;
    color: var(--textPrimary);
    background: #0009;
    padding: 0 10px;
    margin-top: 2px;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: -4px 4px 5px 0px #0002;
}

h4[b-00m35mphvn] {
    margin-top: 10px;
    width: 100%;
    text-transform: capitalize;
    color: var(--colorTertiary);
    line-height: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.textContainer > p[b-00m35mphvn] {
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-break: break-word;
    text-align: center;
}

.pageLink[b-00m35mphvn] {
    height: 100px;
}

.lowerAccent[b-00m35mphvn] {
    height: calc(40% - 100px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -o-align-items: end;
    justify-content: center;
    z-index: 1;
}

.lowerAccent > svg[b-00m35mphvn] {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 800px) {
    .pageContent[b-00m35mphvn] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        align-items: initial;
    }
    
    .textContainer[b-00m35mphvn] {
        justify-self: center;
    }
}