
.logoContainer[b-bunt92u4v7] {
    width: auto;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    padding: 20px;
    max-width: 80%;
}

.logoContainer > svg[b-bunt92u4v7] {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    animation: grow 0.8s ease;
    max-width: 500px;
}

#logo[b-bunt92u4v7]::before {
    opacity: 0;
}

#logo[b-bunt92u4v7] {
    opacity: 0;
    animation: 0.5s fadeIn 0.4s ease-in-out forwards;
}

@media screen and (min-height: 800px) {
    .logoContainer[b-bunt92u4v7] {
        height: 65%;
        max-width: 60%;
    }
}

@media screen and (min-height: 700px) {
    .logoContainer[b-bunt92u4v7] {
        height: 70%;
        margin-bottom: 50px;
    }
}
    
@media (min-width: 850px) {
    .pageContainer[b-bunt92u4v7] {
        flex-flow: row wrap;
    }

    .logoContainer[b-bunt92u4v7] {
        height: 65%;
        margin-bottom: 0;
        max-width: 60%;
    }

    a[b-bunt92u4v7] { 
        opacity: 0;
        animation: 0.5s fadeIn 0.5s ease-in-out forwards;
    }
}
