
.pageContainer[b-ygmnus5is1] {
    max-width: 1800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.topContainer[b-ygmnus5is1] {
    width: 95%;
    height: 60%;
    grid-row: 3/7;
    padding: 20px 0;
    max-height: 800px;
    max-width: 800px;
    background: var(--accentColor);
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    animation: slideFromBottom 0.5s ease-in-out;
    overflow-x: hidden;
}

.topContainer[b-ygmnus5is1] {
    overflow-y: scroll;
}

.topContainer[b-ygmnus5is1]::-webkit-scrollbar {
    width: 5px; 
}

.topContainer[b-ygmnus5is1]::-webkit-scrollbar-track {
    background-color: black;
}

.topContainer[b-ygmnus5is1]::-webkit-scrollbar-thumb {
    background: var(--colorAccent);
    border-radius: 25px;
}

.imageContainer[b-ygmnus5is1] {
    justify-self: center;
    grid-column: 1;
    grid-row: 1/ span auto;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: calc(fit-content + 1rem);
}

.imageContainer > h4[b-ygmnus5is1] {
    font-size: 1em;
    color: var(--colorPrimary);
    opacity: 0.85;
    text-align: center;
    font-weight: 400;
}

.skillImg[b-ygmnus5is1] {
    width: 210px;
    height: 131px;
    max-width: 100%;
    aspect-ratio: 16 / 10;
}

.skillImg:hover[b-ygmnus5is1] {
    opacity: 0.9;
    cursor: pointer;
}

.imgActive[b-ygmnus5is1] {
    animation: .3s slideFromRight forwards;
    -webkit-animation: .3s slideFromRight forwards;
    -moz-animation: .3s slideFromRight forwards;
    -o-animation: .3s slideFromRight forwards;
}

.imgInactive[b-ygmnus5is1] {
    animation: .3s slideFromLeft reverse;
    -webkit-animation: .3s slideFromLeft reverse;
    -moz-animation: .3s slideFromLeft reverse;
    -o-animation: .3s slideFromLeft reverse;
}

.textContainer[b-ygmnus5is1] {
    grid-column: 1;
    grid-row: auto/ span auto;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    color: var(--textPrimary);
    padding: 10px;
    flex-grow: 0;
}

.skillName[b-ygmnus5is1] {
    text-transform: capitalize;
    color: var(--colorTertiary);
    border-bottom: var(--borderWidth) solid var(--colorAccent);
    line-height: 1.2rem;
    font-weight: 600;
}

.skillDesc[b-ygmnus5is1] {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.hidden[b-ygmnus5is1] {
    display: none;
}

.skillLink[b-ygmnus5is1] {
    text-decoration: none;
    font-size: 1.1rem;
}

.pageLink[b-ygmnus5is1], .nav-link[b-ygmnus5is1] {
    flex-flow: row nowrap;
    grid-row: unset;
    justify-content: center;
}

.bottomContainer[b-ygmnus5is1] {
    width: 95%;
    height: 40%;
    max-width: 800px;
    max-height: 800px;
    padding: 10px 10px;
    background: radial-gradient(farthest-corner ,#0008, #0007, #0009, #0007);
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    animation: slideFromRight 0.5s ease-in-out;
    -webkit-animation: slideFromRight 0.5s ease-in-out;
    -moz-animation: slideFromRight 0.5s ease-in-out;
    -o-animation: slideFromRight 0.5s ease-in-out;
    overflow-y: scroll;
}

.bottomContainer[b-ygmnus5is1]::-webkit-scrollbar {
    width: 5px; 
}

.bottomContainer[b-ygmnus5is1]::-webkit-scrollbar-track {
    background-color: black;
}

.bottomContainer[b-ygmnus5is1]::-webkit-scrollbar-thumb {
    background: var(--colorAccent);
    border-radius: 8px;
}

.skillIconWrapper[b-ygmnus5is1] {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-bottom: calc(var(--borderWidth) * 2) solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.skillIconWrapper:hover[b-ygmnus5is1] {
    transition: 0.5s background ease-in-out;
    background: radial-gradient(circle,#0004 50% ,transparent 150%);
    cursor: pointer;
}

.skillIconWrapper:focus[b-ygmnus5is1] {
    border-color: var(--colorAccent);
}

.active[b-ygmnus5is1] {
    transition: 0.4s border-color ease-in-out;
    border-color: var(--colorAccent);
    background: #0009;
}

.active > img[b-ygmnus5is1] {
    transition: 0.4s transform ease-in-out;
    transform: scale(1.2);
}

.active:hover[b-ygmnus5is1] {
    background: #0009;
}

.skillIcon[b-ygmnus5is1] {
    width: 35%;
    height: auto;
    aspect-ratio: 1 / 1;
    transition: 0.2s transform ease-in-out;
    transform: scale(1);
}

/* lightBox */

.lightBox[b-ygmnus5is1] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
}

.show[b-ygmnus5is1] {
    display: flex;
}

.hide[b-ygmnus5is1] {
    display: none;
}

.content[b-ygmnus5is1] {
    width: 80%;
    height: 80%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightBoxImg[b-ygmnus5is1] {
    max-width: 100%;
    max-height: 80vh;
    aspect-ratio: 16 / 10;
}

.lightBoxText[b-ygmnus5is1] {
    color: var(--textPrimary);
    opacity: 0.4;
    text-align: center;
}

.lightBoxText:hover[b-ygmnus5is1] {
    cursor: pointer;
    opacity: 0.9;
}

@media screen and (orientation: portrait) {
    .bottomContainer[b-ygmnus5is1] {
        border-top-left-radius: 24px;
    }
}

@media screen 
and (max-width: 800px) {
    .lightBox[b-ygmnus5is1] {
        padding-top: 3.5rem;
    }
}

@media screen and (min-height: 1500px) {
    .skillIcon[b-ygmnus5is1] {
        width: 40%;
    }
}

@media screen and (max-height: 900px) {
    .topContainer[b-ygmnus5is1] {
        overflow-y: scroll;
    }

    .topContainer[b-ygmnus5is1]::-webkit-scrollbar {
        width: 5px; 
    }

    .topContainer[b-ygmnus5is1]::-webkit-scrollbar-track {
        background-color: black;
    }

    .topContainer[b-ygmnus5is1]::-webkit-scrollbar-thumb {
        background: var(--colorAccent);
        border-radius: 25px;
    }

    .bottomContainer[b-ygmnus5is1] {
        overflow-y: scroll;
    }

    .bottomContainer[b-ygmnus5is1]::-webkit-scrollbar {
        width: 5px; 
    }
    
    .bottomContainer[b-ygmnus5is1]::-webkit-scrollbar-track {
        background-color: black;
    }
    
    .bottomContainer[b-ygmnus5is1]::-webkit-scrollbar-thumb {
        background: var(--colorAccent);
        border-radius: 8px;
    }
}

@media screen 
and (min-width: 1100px) 
and (orientation: portrait) {
    .imageContainer[b-ygmnus5is1] {
        grid-column: 1/ span 5;
        grid-row: 1;
        align-self: center;
    }
    .textContainer[b-ygmnus5is1] {
        grid-column: auto / span 2;
        grid-row: 1;
        align-self: center;
        flex: 0 0 auto;
    }
    .topContainer[b-ygmnus5is1] {
        overflow: hidden;
    }
    .skillImg[b-ygmnus5is1] {
        width: 250px;
        height: 156px;
    }
}

@media screen
and (min-width: 360px) {
    .skillImg[b-ygmnus5is1] {
        width: 300px;
        height: 188px;
    }
}

@media screen
and (max-height: 600px) {
    .skillImg[b-ygmnus5is1] {
        width: 250px;
        height: 156px;
    }
}


@media screen
and (min-width: 600px)
and (orientation: portrait) {
    .skillImg[b-ygmnus5is1] {
        width: 400px;
        height: 250px;
    }
}

@media screen
and (min-width: 950px)
and (min-height: 550px)
and (orientation: landscape) {
    .skillImg[b-ygmnus5is1] {
        width: 400px;
        height: 250px;
    }
}

@media screen
and (min-width: 1050px)
and (min-height: 700px)
and (orientation: landscape) {
    .skillImg[b-ygmnus5is1] {
        width: 500px;
        height: 313px;
    }
}

@media screen
and (min-width: 1450px)
and (min-height: 800px)
and (orientation: landscape) {
    .skillImg[b-ygmnus5is1] {
        width: 700px;
        height: 438px;
    }
}

@media screen 
and (max-width: 799px) 
and (orientation: landscape) {
    .pageContainer[b-ygmnus5is1] {
        flex-flow: row wrap; 
        -o-justify-content: center;
        justify-content: center;
    }

    .topContainer[b-ygmnus5is1] {
        width: 60%;
        height: 100%;
        min-height: fit-content;
    }
    
    .skillIcon[b-ygmnus5is1] {
        width: 50%;
    }
    
    .bottomContainer[b-ygmnus5is1] {
        border: 0;
        width: 40%;
        padding: 5px;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.1rem;
        max-width: 300px;
    }
}

@media screen 
and (min-width: 800px) 
and (orientation: landscape) {
    .pageContainer[b-ygmnus5is1] {
        flex-flow: row wrap;
        -o-justify-content: center;
        justify-content: center;
    }

    .topContainer[b-ygmnus5is1] {
        width: 60%;
        height: 100%;
    }
    
    .textContainer[b-ygmnus5is1] {
        padding: 20px;
    }
    
    .bottomContainer[b-ygmnus5is1] {
        border: 0;
        width: 40%;
        padding: 5px;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen 
and (max-width: 700px) 
and (orientation: portrait) {
    .skillIcon[b-ygmnus5is1] {
        width: 50%;
    }
    .lightBox[b-ygmnus5is1] {
        padding-bottom: 3.5rem;
    }
}

@media screen
and (max-width: 800px) 
and (min-height: 500px) {
    .lightBox[b-ygmnus5is1] {
        padding-bottom: 3.5rem;
    }
}

@media screen 
and (min-width: 1700px)
and (orientation: landscape) {
    .bottomContainer[b-ygmnus5is1] {
        grid-template-columns: repeat(5, 1fr);
        border: 0;
    }
}

@media screen
and (max-height: 450px)
and (min-width: 1300px) {
    .skillImg[b-ygmnus5is1] {
        width: 250px;
        height: 156px;
    }
    .imageContainer[b-ygmnus5is1] {
        grid-column: 1/ span 5;
        grid-row: 1;
        align-self: center;
    }
    .textContainer[b-ygmnus5is1] {
        grid-column: auto / span 2;
        grid-row: 1;
        align-self: center;
        flex: 0 0 auto;
    }
} 

@media screen
and (max-height: 450px)
and (max-width: 1300px) {
    .imageContainer[b-ygmnus5is1] {
        min-height: 200px;
    }

    .skillImg[b-ygmnus5is1] {
        width: 200px;
        height: 125px;
    }
} 