
.pageContainer {
    justify-content: space-between;
    background: var(--colorPrimary);
}

h1 {
    color: var(--colorSecondary);
    text-align: center;
    padding: 20px;
    text-shadow: -2px 2px 2px #fff3;
}

.iconWrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    border-radius: 8px;
}

.contactIcon {
    width: 50px;
    height: 50px;
    fill: var(--colorAccent);
    padding: 2%;
    border-radius: 50%;
    border: calc(var(--borderWidth) * 1.5) solid var(--colorAccent);
    box-shadow: 0px 0px 4px var(--colorAccent);
}

.upperAccent {
    clip-path: polygon(0% 0%, 22.75% 59%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 22.75% 59%, 100% 100%, 0% 100%);
    width: 100%;
    height: 300px;
    background:url("assets/bkg/contactBkg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    transform: rotate(180deg);
    opacity: .9;
}

.lowerAccent {
    clip-path: polygon(0% 0%, 22.75% 59%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 22.75% 59%, 100% 100%, 0% 100%);
    width: 100%;
    height: 300px;
    background:url("assets/bkg/contactBkg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: fixed;
    opacity: .9;
}

@media screen and (min-width: 900px) {
    .contactIcon {
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 600px) {
    .contactIcon {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 400px) {
    .contactIcon {
        width: 40px;
        height: 40px;
    }
}