
.pageContainer {
    height: auto;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: #0005;
}

.upperAccent > svg  {
    fill: transparent;
    stroke: orange;
    stroke-width: 10;
}

.pageContent {
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px 0 20px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.linkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.pageLink {
    flex-flow: row nowrap;
}

.textContainer {
    width: 100%;
    max-height: fit-content;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    -o-justify-content: start;
    align-items: center;
    flex-flow: column nowrap;
    color: var(--textPrimary);
    padding: 0 10px;
    flex-grow: 0;
    background: #000;
    margin-top: 2px;
    border-radius: 8px;
}

h4 {
    margin-top: 10px;
    width: 100%;
    text-transform: capitalize;
    color: var(--colorTertiary);
    border-bottom: var(--borderWidth) solid var(--colorAccent);
    line-height: 1.2rem;
    font-weight: 600;
}

.textContainer > p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.lowerAccent {
    height: 30%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -o-align-items: end;
    justify-content: center;
    z-index: 1;
}

.lowerAccent > svg {
    width: 100%;
    max-height: 60vh;
}

@media screen and (min-width: 800px) {
    .pageContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        align-items: initial;
    }
    
    .textContainer {
        width: 80%;
        justify-self: center;
    }
}