@page "/Samples"
@inject SkillData SkillData;

<PageTitle>Skills</PageTitle>
<div class="pageContainer">
    <div class="topContainer">
        <div @onclick="() => SetLightBox()" class=@($"imageContainer disableSelect { imgBoxClassName }")>
            @if(galleryImage != "") {
                <img class="skillImg" src=@($"assets/screenshots/{ @galleryImage }.png") alt=@($"{ @galleryImage }") />
                <h4>click to expand</h4>
            }
        </div>
        <div class=@($"textContainer { imgBoxClassName }") >
            <h4 class="skillName">
                @galleryTitle
            </h4>
            <p class="skillDesc">
                @galleryDescription
            </p>
            @if(galleryLink != "")
            {
                <a class="skillLink" href=@($"{ @galleryLink }") target="_blank">
                    @galleryLink
                    <span class="oi oi-hand"></span>
                </a>
            }
        </div>
    </div>
    <div class="bottomContainer">
        @for(int i = 0; i < SkillData.skillIcons.Count(); i++) {
            int idx = i;
            <div @onclick="() => SetGallery(idx)" class=@($"skillIconWrapper disableSelect { getState(i) } ")>
                <img class="skillIcon disableSelect" src=@($"assets/techLogos/{ SkillData.skillIcons[i] }.png") alt=@($"{ SkillData.skillIcons[i] }") />
            </div>
        }
    </div>
</div>
<div @onclick="() => ClearContent()" class=@($"lightBox { lightBoxClassName }")>
    <div class="contentContainer">
        @if(contentSet) {
            <img class="lightBoxImg" src=@($"assets/screenshots/{ @galleryImage }.png") alt=@($"{ @galleryImage }") />
        }
    </div>
</div>

@code {
    string galleryDescription = "";
    string galleryTitle = "";
    string galleryImage = "";
    string galleryLink = "";
    int selectedIdx = -1;
    int lastIdx = -1;
    bool contentSet = false;
    string imgBoxClassName = "";
    string textBoxClassName = "";
    string lightBoxClassName = "hide";
    bool firstLoad = true;

    private string getState(int idx) {
        if(idx == selectedIdx) {
            return "active";
        }else {
            return "";
        }
    }// getState

    private async Task SetGallery(int idx) {
        if(idx != -1) {
            if(firstLoad == false) {
                imgBoxClassName = "imgInactive";
                textBoxClassName = "textInactive";
                await Task.Delay(200);
                StateHasChanged();
            }
            selectedIdx = idx;
            galleryDescription = SkillData.skillDescriptions[idx];
            galleryTitle = SkillData.skillNames[idx];
            galleryImage = SkillData.skillImages[idx];
            galleryLink = SkillData.skillLinks[idx];
            if(firstLoad == false) {
                imgBoxClassName = "imgActive";
                textBoxClassName = "textActive";
            }
            await Task.Delay(1);
            StateHasChanged();
        }else {
            return;
        }
    }// SetGallery

    protected override async Task OnInitializedAsync() {
            await SetGallery(0);
            StateHasChanged();
            firstLoad = false;
    }// OnInitializedAsync

    private void lightBoxSetClassName() {
        if(contentSet) {
            lightBoxClassName = "show fadeIn";
        }else {
            lightBoxClassName = "show fadeOut";
            StateHasChanged();
            Task.Delay(500);
            lightBoxClassName = "hide";
        }
    }// lightBoxCetClassName

    public async void SetLightBox() {
        contentSet = true;
        lightBoxSetClassName();
        await Task.Delay(1);
    }// SetLightBox

    public void ClearContent() {
        contentSet = false;
        lightBoxSetClassName();
        StateHasChanged();
    }// ClearContent
}