
.pageContainer {
    max-width: 1800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.topContainer {
    width: 95%;
    height: 50%;
    grid-row: 3/7;
    padding: 20px 0;
    max-height: 800px;
    max-width: 800px;
    background: var(--accentColor);
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    animation: slideFromBottom 0.5s ease-in-out;
}

.topContainer {
    overflow-y: scroll;
}

.topContainer::-webkit-scrollbar {
    width: 5px; 
}

.topContainer::-webkit-scrollbar-track {
    background-color: black;
}

.topContainer::-webkit-scrollbar-thumb {
    background: var(--colorAccent);
    border-radius: 25px;
}

.imageContainer {
    justify-self: center;
    grid-column: 1;
    grid-row: 1/ span 3;
    max-height: 600px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillImg {
    max-height: 400px;
    width: 100%;
    max-width: 600px;
    opacity: 0;
    animation: 1s fadeIn forwards;
    border: calc( var(--borderWidth) * 2) solid var(--secondaryColor);
    border-radius: 4px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.textContainer {
    grid-column: 1;
    grid-row: 4/ span 2;
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    color: var(--textPrimary);
    padding: 10px;
}

.skillName {
    text-transform: capitalize;
    color: var(--colorTertiary);
    border-bottom: var(--borderWidth) solid var(--colorAccent);
    line-height: 1.2rem;
    font-weight: 600;
}

.skillDesc {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.hidden {
    display: none;
}

.bottomContainer {
    width: 95%;
    height: 50%;
    max-width: 800px;
    max-height: 800px;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    animation: slideFromRight 0.5s ease-in-out;
    padding: 20px 10px;
    border-top: var(--borderWidth) solid var(--colorPrimary);
}

.bottomContainer {
    overflow-y: scroll;
}

.bottomContainer::-webkit-scrollbar {
    width: 5px; 
}

.bottomContainer::-webkit-scrollbar-track {
    background-color: black;
}

.bottomContainer::-webkit-scrollbar-thumb {
    background: var(--colorAccent);
    border-radius: 8px;
}

.skillIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-bottom: calc(var(--borderWidth) * 2) solid transparent;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.skillIconWrapper:hover {
    transition: 0.5s background ease-in-out;
    background: radial-gradient(circle,#0004 50% ,transparent 150%);
    cursor: pointer;
}

.skillIconWrapper:focus {
    border-color: var(--colorAccent);
}

.active {
    transition: 0.4s border-color ease-in-out;
    border-color: var(--colorAccent);
    background: #0009;
}

.active > img {
    transition: 0.4s transform ease-in-out;
    transform: scale(1.2);
}

.active:hover {
    background: #0009;
}

.skillIcon {
    width: 35%;
    height: auto;
    aspect-ratio: 1 / 1;
    transition: 0.2s transform ease-in-out;
    transform: scale(1);
}

@media screen and (min-height: 1300px) {
    .skillIcon {
        width: 40%;
    }
}

@media screen and (max-height: 900px) {
    .topContainer {
        overflow-y: scroll;
    }

    .topContainer::-webkit-scrollbar {
        width: 5px; 
    }

    .topContainer::-webkit-scrollbar-track {
        background-color: black;
    }

    .topContainer::-webkit-scrollbar-thumb {
        background: var(--colorAccent);
        border-radius: 25px;
    }

    .bottomContainer {
        overflow-y: scroll;
    }

    .bottomContainer::-webkit-scrollbar {
        width: 5px; 
    }
    
    .bottomContainer::-webkit-scrollbar-track {
        background-color: black;
    }
    
    .bottomContainer::-webkit-scrollbar-thumb {
        background: var(--colorAccent);
        border-radius: 8px;
    }
}

@media screen 
and (min-width: 750px) 
and (orientation: portrait) {
    .imageContainer {
        grid-column: 1/ span 3;
        grid-row: 1;
        align-self: center;
    }
    .textContainer {
        grid-column: 4/ span 2;
        grid-row: 1;
        align-self: center;
    }
}

@media screen
and (max-width: 900px)
and (max-height: 900px) {
    .imageContainer {
        max-height: 180px;
    }
    .skillImg {
        max-height: 160px;
    }
}

@media screen 
and (max-width: 799px) 
and (orientation: landscape) {
    .pageContainer {
        flex-flow: row wrap; 
        -o-justify-content: center;
        justify-content: center;
    }

    .topContainer {
        width: 60%;
        height: 100%;
        min-height: fit-content;
    }
    
    .skillIcon {
        width: 50%;
    }
    
    .bottomContainer {
        border: 0;
        width: 40%;
        padding: 5px;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.1rem;
        max-width: 300px;
    }
}

@media screen 
and (min-width: 800px) 
and (orientation: landscape) {
    .pageContainer {
        flex-flow: row wrap;
        -o-justify-content: center;
        justify-content: center;
    }

    .topContainer {
        width: 60%;
        height: 100%;
    }
    
    .textContainer {
        padding: 20px;
    }
    
    .bottomContainer {
        border: 0;
        width: 40%;
        padding: 5px;
        height: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen 
and (max-width: 700px) 
and (orientation: portrait) {
    .skillIcon {
        width: 50%;
    }
}

@media screen 
and (min-width: 1700px)
and (orientation: landscape) {
        .bottomContainer {
            grid-template-columns: repeat(5, 1fr);
            border: 0;
        }
}
    